html,body{
	font-family: 'Source Code Pro','Microsoft Yahei';
	font-size: 14px;
	color: #333;
	height: 100%;
	background-color: #F2F2F2;
}
body,h1,h2,p{
	margin: 0;
}
ul{
	margin: 0;
	padding: 0;
	list-style:none;
}
a{
	text-decoration: none;
}
.clear:after{
	content:'';
	display: block;
	clear: both;
}
.clear{
	zoom: 1;
}
.left{
	position: fixed;
	left: 0;
	top: 0;
	width: 280px;
	height: 100%;
	border-right: 1px solid #eee;
	background-color: #F5F5F5;
}
.left .headH{
	margin-top: 50px;
	margin-bottom: 30px;
	text-align: center;
}
.left .headA{
	display: inline-block;
}
.left .header{
	width: 100px;
	height: 100px;
	border-radius: 50%;
}
.left .name{
	font-size: 20px;
	margin-bottom: 16px;
}
.left .intext{
	font-size: 14px;
}
.left .intro{
	text-align: center;
	padding: 0 35px 0;
	margin-bottom: 60px;
}
.left .intro a{
	color: #333;
}
.left .navLi{
	height: 45px;
	text-align:center;
	margin-bottom: 8px;
}
.left .navLink{
	display: block;
	color: #333;
	line-height: 45px;
	transition: all .2s;
}
.left .navLink:hover{
	color: #8E8CD8;
}
.left .navLi .lNavAct{
	background-color: #8E8CD8;
	color: #fff;
	margin-right: -1px;
}
.main{
	padding-left: 350px;
	padding-right: 80px;
	max-width: 1390px;
	height: 100%;
}
.main .mainTop{
	position: fixed;
	top: 0;
	left: 280px;
	height: 44px;
	width: 100%;
	border-bottom: 1px solid #eee;
	background-color: rgba(255,255,255, .2);
}
.mainTop .topText{
	line-height: 44px;
	font-size: 16px;
	margin-left: 30px;
	font-weight: 600;
	color: #8E8CD8;
}