.article{
	width: 600px;
	padding-top: 62px;
}
.artList{
	height: 60px;
	background-color: #f6f6f6;
	margin-bottom: 10px;
	padding: 0 20px 0 10px;
	line-height: 65px;
	border-bottom: 3px solid #f6f6f6;
	transition: all .2s;
}
.artList:hover{
	border-bottom: 3px solid #8E8CD8;
}
.artList .articleA{
	float: left;
	color: #333;
	padding: 0 30px;
}
.artList .articleA:hover{
	color: #8E8CD8;
}
.artList .articleDate{
	float: right;
}
