body, code, ol{
	font: 14px 'Source Code Pro','Microsoft Yahei';
}
body{
	padding-bottom: 50px;
	min-width: 1200px;
}
#wmd-preview{
	width: 800px;
	margin: 0 auto;
}
a{
	color: #333;
}
h4{
	color: rgba(255,0,0,.7);
}
h5{
	font-size: 14px;
	color: #888;
}
p{
	line-height: 26px;
}
p code{
	background-color: #f1f1f1;
	padding: 2px 3px;
	border-radius: 4px;
	margin: 0 4px;
}
blockquote{
	background-color: #f1f1f1;
	line-height: 28px;
	padding: 8px 15px;
	margin: 12px 0;
	background: linear-gradient(90deg,#f1f3f5 0px, #f1f3f5 10px, #f8f9fa 10px, #f8f9fa 100%)
}
blockquote, ol.linenums{
	border-radius: 5px;
}
blockquote p{
	margin: 0;
}
table{
	border-collapse:collapse;
}
table td,table th{
	border: 1px solid #ddd;
	line-height: 30px;
	padding: 3px 12px;
}
ol.linenums{
	background: linear-gradient(90deg,#f1f3f5 0px, #f1f3f5 50px, #f8f9fa 50px, #f8f9fa 100%);
	padding: 12px 0 12px 50px;
}
ol.linenums li{
	line-height: 26px;
	padding-left: 8px;
}
code .kwd, code .pun{
	color: #f2590d;
}
code .pln{
	color: #54addf;
}
code .lit{
	color: #a37adb;
}
code .tag{
	color: #41b4e9;
}
code .atn{
	color: #f2590d;
}
code .atv{
	color: #86b300;
}
code .com{
	color: #888;
}
code .str{
	color: #86b364;
}
code .typ{
	color: #5c6773;
}
ul li{
	line-height: 24px;
}
.index{
	position: fixed;
	top: 30px;
	left: 50%;
	margin-left: -600px;
	/*border: 1px solid #eee;*/
}
.index a{
	line-height: 32px;
	display: block;
	transform: translateX(8px);
	transition: .3s;
}
.index a span{
	content:'';
	display: inline-block;
	vertical-align: middle;
	margin-top: -2px;
	margin-right: 8px;
	width: 8px;
	height: 8px;
	border-radius: 5px;
	/*background-color: #a256f0;*/
	background-color: rgba(255,0,0,.7);
	opacity: 0;
	transition: .3s;
}