* {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
          word-break: break-word;
}

html {
  font-family: $base-font;
  font-size: $base-font-size;
  line-height: 1.6;
  // height: 100%;
  // overflow: auto;
}

html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
}
body {
  overflow: auto;
}

#toc {
  position: fixed;
  top: 5rem;
  left: 3rem;
}

.content-container {
  max-width: 42rem;
  padding: 4.2rem 1rem 1rem 1rem;
  margin-left:  auto;
  margin-right: auto;

  @media (max-width: 48rem){
    padding: 2rem 1.3rem;
  }
}


/*--------------
  Header
  -------------- */
.header {
  padding: 2%;
  margin-bottom: 1.5em;

  &-title {
    margin: 0.3em 0;
    font-size: 1.8em;
    line-height: 1.2em;
    font-weight: 500;
    text-align: center;

    a {
      color: $cyan-color;
      &:hover,
      &:focus {
        text-decoration: none;
      }
      span {
        color: $cyan-fade;
      }
    }

    span {
      color: $oc-gray-5;
    }

  }

  &-nav {
    a {
      color: $oc-gray-7;
      text-transform: lowercase;
      -webkit-transition: all .2s ease;
         -moz-transition: all .2s ease;
              transition: all .2s ease;
      margin-right: .3rem;

      &:hover,
      &:focus {
        color: $oc-gray-7;
        text-decoration: none;
      }
    }
  }
}

.header-small {
  text-align: left;
  margin-bottom: .75rem;
  font-size: .75rem;
  font-weight: 600;
  text-transform: uppercase;

  a {
    color: $cyan-fade;
    font-size: 1rem;
    font-weight: 500;
    
    &:hover,
    &:focus {
      text-decoration: underline;
    }
  }
}

/*--------------
  Page
  -------------- */

.page {
  &-title {
    margin-top: 0;
    margin-bottom: 2rem;
    font-size: 2.25em;
    line-height: 1.2em;
    font-weight: 600;
  }
}


/*--------------
  Post
  -------------- */
.post {
  font-size: 14px;
  a {
    border-bottom: 2px solid $cyan-fade;
    &:hover {
      border-bottom-color: $cyan-color;
    }
  }

  &-title {
    margin-bottom: 0.3rem;
    font-size: 2.25em;
    line-height: 1.2em;
    font-weight: 600;
    color: $cyan-color;
  }

  &-date {
    display: block;
    margin-bottom: .1rem;
    color: $oc-gray-8;
    font-size: .85rem;
    text-transform: uppercase;
    font-weight: lighter;
    letter-spacing: 0.05rem;
  }

   &-tag {
    margin-bottom: 1.8rem;
    p {
      color: #888;
      font-size: .75rem;
    }

    ul {
      li:before {
        content: ""
      }

      li {
        margin: 0;
        font-size: .75rem;
        font-weight: 300;
        display: inline;
        list-style-type: none;
        text-transform: lowercase;

        a {
          display: inline-block;
          margin: 5px;
          margin-left: 0px;
          color: $oc-white;
          background-color: $oc-gray-6;
          text-decoration: none;
          border-radius: 4px;

          span {
            float: left;
            padding: 2px 8px;
          }
        }

        a:hover {
          background-color: $oc-gray-7;
        }

        // a:visited {
        //   background-color: $oc-white;
        // }
      }
    }
  }

  &-disqus {
    margin-top: 4rem;
  }

}

/*--------------
  Post list
  -------------- */

.list {
  &-post {
    // padding: 5rem 0;
    margin: 1.2rem 0;
    display: flex;
    justify-content: space-between;

    a {
      color: $base-color;
      &:hover,
      &:focus {
        text-decoration: none;
      }
    }

    &-title {
      margin-bottom: .3rem;
      border-bottom: 2px solid $cyan-fade;
      transition: .3s;
      &:hover {
        border-bottom-color: $cyan-color;
      }
    }

    &-date {
      color: $base-lighten-color;
      font-size: .8rem;
      text-transform: uppercase;
    }

    &-desc {
      color: $base-color;
      margin-bottom: .25rem;
      font-size :1rem;
    }
  }

  &-pagination {
    margin-top: 2.8rem;
    padding-top: 1rem;
    padding-bottom: 2rem;
    font-size: .8rem;
    // text-transform: lowercase;

    &-previous {
      float: left;
      a {
        color: $oc-gray-6;

        &:hover,
        &:focus {
          color: $oc-gray-7;
          text-decoration: none;
        }
      }
    }

    &-next {
      float: right;
      a {
        color: $oc-gray-6;

        &:hover {
          color: $oc-gray-7;
          text-decoration: none;
        }
      }
    }
  }
}


/*--------------
  Tags
  -------------- */
.tag {
  &-index {
    ul {
      li:before {
        content: ""
      }

      li {
        margin: 0;
        font-size: 0.8rem;
        display: inline;
        list-style-type: none;
        text-transform: lowercase;

        a {
          display: inline-block;
          margin: 4px;
          margin-left: 0px;
          color: $oc-white;
          background-color: $oc-gray-6;
          border-radius: 3px;

          span {
            float: left;
            padding: .5px 5px;
          }

          .count {
            background-color: $oc-gray-7;
            border-radius: 0 3px 3px 0;
          }
        }

        a:hover {
          background-color: $oc-gray-7;
        }
      }
    }
  }

  &-title {
    font-size: 1.4rem;
    font-weight: 600;
    text-transform: lowercase;
    padding: 1rem 0;
  }

  &-post {
    a {
      color: $base-color;
      border-bottom: 2px solid $cyan-fade;

      &:hover,
      &:focus {
        border-bottom-color: $cyan-color;
      }
    }
  }
}

/*--------------
  Archive
  -------------- */
.archive {
  &-list {
    &-post {
      padding: 0.1rem;

      &:hover {
          background-color: $background-over-color;
          border-color: transparent;
      }

      a {
        color: $base-color;

        &:hover,
        &:focus {
          text-decoration: none;
        }
      }

      &-title {
        font-size : 1.2rem;
        font-weight: 400;
      }

      &-date {
        color: $base-lighten-color;
        font-size: .75rem;
        text-transform: uppercase;
      }
    }
  }
}


/*--------------
  Footer
  -------------- */
.footer {
  text-align: center;
  font-size: .9rem;

  &-link {
    margin: .2rem;

    a {
      color: $base-color;
      margin: 4px;
    }
  }
}

/*--------------
  back-to-top
  -------------- */
.back-to-top {
  position: fixed;
  right: 4rem;
  bottom: 4rem;
  color: $cyan-fade;
  &:hover,
  &.focus {
    color: $cyan-color;
  }
}