/* css reset */
body{
	margin: 0;
}
ul {
	margin: 0;
	padding: 0;
	list-style: none;
}
a {
	text-decoration: none;
}
/* tools */
/* global */
body {
	font: 14px 'Source Code Pro','Microsoft Yahei';
}
.content {
	width: 800px;
	margin: 0 auto;
}
/* index */
.head .content {
	border-bottom: 2px solid #333;
}
.main {
	padding: 20px 0;
}
	.main .art_list li{
		border-bottom: 1px solid #888;
		line-height: 30px;
	}
	.main .art_list li a {
		display: flex;
		justify-content: space-between;
		color: #333;
	}
	.main .art_list li a:hover {
		text-decoration: underline;
	}